.sliimg {
    position: sticky;
    width: 80vw;
    height: 21vh;
    font-size: 1.5rem;
    background: rgba(82, 178, 140, 0.25);
    border-radius: 15px;
    text-align: center;
    font-size: 3em;
    background-image: url(../img/festival.jpg);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadein 2s;

}

.sliimg2 {

    position: sticky;
    width: 80vw;
    height: 21vh;
    font-size: 1.5rem;
    background: rgba(82, 178, 140, 0.25);
    border-radius: 15px;
    text-align: center;
    font-size: 3em;
    background-image: url(../img/winter.jpg);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliimg3 {

    position: sticky;
    width: 80vw;
    height: 21vh;
    font-size: 1.5rem;
    background: rgba(82, 178, 140, 0.25);
    border-radius: 15px;
    text-align: center;
    font-size: 3em;
    background-image: url(../img/blossom.jpg);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}