@media screen and (max-width: 768px) {

    * {
        padding: 0;
        margin: 0 auto;
    }

    #sc1,
    #sc2,
    #sc3 {
        display: none;
    }

    html {
        font-size: 14px;
    }

    #main {
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: inherit;

    }

    .sce {
        width: 100%;

    }

    .sce1 {
        position: relative;
        width: 80vw;
        height: 20vh;
        font-size: 1.5rem;
        background: rgba(82, 178, 140, 0.25);
        border-radius: 15px;

        text-align: center;
        font-size: 3em;
        margin-top: 4vh;
    }

    .sce11 {
        position: sticky;
        width: 80vw;
        height: 20vh;
        font-size: 1.5rem;
        background: rgba(82, 178, 140, 0.25);
        border-radius: 15px;
        text-align: center;
        font-size: 3em;
        margin-top: 4vh;
        background-color: black;
        opacity: 70%;
        background-image: url(../img/jin01.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sce11:hover {

        transition: 2s;
        background-image: url(../img/son.jpeg);

    }

    .sce11:hover #sc1 {
        display: block;
        background: none;
        color: deeppink;
        font-size: 20px;
        width: 80vw;
        height: 20vh;
        border: none
    }

    .sce2 {
        position: relative;
        width: 80vw;
        height: 20vh;
        background: rgba(82, 178, 140, 0.25);
        border-radius: 15px;
        text-align: center;
        font-size: 3em;
        margin-top: 5vh;

    }

    .sce22 {
        position: sticky;
        width: 80vw;
        height: 20vh;
        background: rgba(82, 178, 140, 0.25);
        border-radius: 15px;
        background-color: black;
        text-align: center;
        font-size: 3em;
        margin-top: 5vh;
        opacity: 70%;
        background-image: url(../img/jing02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sce22:hover {
        transition: 2s;
        background-image: url(../img/son.jpeg);

    }

    .sce22:hover #sc2 {
        display: block;
        background: none;
        color: deeppink;
        font-size: 20px;
        width: 80vw;
        height: 20vh;
        border: none
    }

    .sce3 {
        position: relative;
        width: 80vw;
        height: 20vh;
        background: rgba(82, 178, 140, 0.25);
        border-radius: 15px;
        text-align: center;
        font-size: 3em;
        margin-top: 5vh;


    }

    .sce33 {
        position: sticky;
        width: 80vw;
        height: 20vh;
        background-color: black;
        border-radius: 15px;
        text-align: center;
        font-size: 3em;
        margin-top: 5vh;
        opacity: 70%;
        background-image: url(../img/son.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .sce33:hover {
        transition: 2s;
        background-image: url(../img/jin01.jpeg);
    }

    .sce33:hover #sc3 {

        display: block;
        background: none;
        color: deeppink;
        font-size: 20px;
        width: 80vw;
        height: 20vh;
        border: none
    }


    #menuBar {
        position: absolute;
        width: 100vw;
        height: 10vh;
        left: 0px;
        bottom: 0px;
        background: rgba(82, 178, 140, 0.75);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    #menuBarIcon1 {
        position: absolute;
        height: 50%;
        left: 5%;
        top: 25%;
    }

    #menuBarIcon2 {
        position: absolute;
        height: 50%;
        left: 25%;
        top: 25%;
    }

    #menuBarIcon3 {
        position: absolute;
        height: 50%;
        left: 45%;
        top: 25%;
    }

    #menuBarIcon4 {
        position: absolute;
        height: 50%;
        right: 25%;
        top: 25%;
    }

    #menuBarIcon5 {
        position: absolute;
        height: 50%;
        right: 5%;
        top: 25%;
    }

    /* #bar{
position: absolute;
left: 0px;
top: 802px;
}
*/
}