.quiz2Left {
    width : 15vw;
    height: 10vh;
    top : 75%;
    border-radius: 100%;
    float: left;
    background-color: #ffffff;
    border: 5px solid #52B28C;;
    font-size: 4vh;
    font-weight: bold;
    margin-top: 5vh;
  }
  
  .quiz2Center {
    width : 15vw;
    height: 10vh;
    top : 75%;
    border-radius: 100%;
    float: left;
    background-color: #ffffff;
    border: 5px solid #52B28C;;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 22.5vw;
    margin-top: 5vh;
  }
  
  .quiz2Right {
    width : 15vw;
    height: 10vh;
    top : 75%;
    float: left;
    border-radius: 100%;
    background-color: #ffffff;
    border: 5px solid #52B28C;;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 22.5vw;
    margin-top: 5vh;
  }
  