* {
    margin: 0 auto;
    text-decoration: none;
    list-style: none;

}

.Header {
    width: 100vw;
    height: 10vh;
    position: relative;
    font-size: 15px;
}

.title {
    text-align: center;
    padding-top: 1vh;
    position: relative;
    width: 100vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
}

.TypeResult {
    position: relative;
    width: 100vw;
    height: 7.5vh;
    text-align: center;

}

.section {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.section1 {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.Poi1 {
    position: absolute;
    width: 45vw;
    height: 25vh;
    left: 50vw;
    margin-right: 5vw;
}

progress {
    width: 100%;
    height: 50px;
}

.Poi2 {
    position: absolute;
    width: 45vw;
    height: 25vh;
    top: 25vh;
    margin-left: 5vw;
}

.result {
    position: absolute;
    width: 90vw;
    height: 18vh;
    background-color: white;
    top: 50vh;
    border: 1px solid #52B28C;
    left: 5vw;
    border-radius: 10px;
}

.Buttonsection {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 70vh;
}

.shareButton {
    width: 50vw;
    height: 8vh;
    float: left;
}

.restartButton {
    width: 50vw;
    height: 8vh;
}

.Butt1 {
    height: 8vh;
    background: rgba(82, 178, 140, 0.75);;
    border: rgba(82, 178, 140, 0.75);;
    border-radius: 15px;
    padding: 2vw;
    color: white;
    font-weight: bold;
    margin-left: 45%;
}

.Butt2 {
    height: 8vh;
    background: rgba(82, 178, 140, 0.75);;
    border: rgba(82, 178, 140, 0.75);;
    border-radius: 15px;
    padding: 2vw;
    color: white;
    font-weight: bold;
    margin-left: 5%;
}

.imgdiv {
    position: absolute;
    margin-top: 80vh;
    height: 10vh;
}

.type {
    position: relative;
}

.HexaLi2 {
    position: relative;
    float: left;
    width: 50vw;
    height: 25vh;
    z-index: -999;
}

.HexaLi {
    position: relative;
    float: left;
    width: 50vw;
    height: 25vh;
}

.innerHexa2 {
    position: absolute;
    width: 50vw;
    height: 25vh;
    top: 25vh;
    left: 50vw;
}

.Result {
    font-weight: bold;
    color: #52B28C;
}

.user-select-none {
    position: relative;
    z-index: -100;
    right: 70px;
    bottom: 60px;

}

#menuBarTop{
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 80vh;
}