

.clubWrap1{
    position: relative;
    width: 90vw;
    height: 19.5vh;
}

.clubWrap2{
    width: 35vw;
    height: 12vh;
    float: left;
}

.clubTitle{
    width: 90vw;
    height: 3vh;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
}

.clubLogo{
    width: 20vw;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.clubIrum{
    position: absolute;
    width: 35vw;
    height: 3.5vh;
    margin-top: 13vh;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

.clubContents{
    width: 55vw;
    height: 16.5vh;
    background: rgba(82, 178, 140, 0.2);
    border-radius: 25px;
    float: left;
}

.clubText{
    width: 45vw;
    height: 12vh;
    margin-top: 2.5vh;
    font-size: 0.75em;
    font-weight: 600;
    overflow: scroll;
}

.result2Line{
    width: 90vw;
    height: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgba(82, 178, 140, 0.75);
}

#logoImg1{
    background-image: url(root/img/club02.png);
}

#logoImg2{
    background-image: url(root/img/club04.png);
}

#logoImg3{
    background-image: url(root/img/club06.png);
}

.resultRestart {
    position: absolute;
    top: 80vh;
    height: 8vh;
    width: 20vw;
    background: rgba(82, 178, 140, 0.75);
    border: rgba(82, 178, 140, 0.75);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-left: 40vw;
}