* {
    margin: 0 auto;
    text-decoration: none;
    list-style: none;

}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.Header {
    width: 100vw;
    height: 10vh;
    position: relative;
    font-size: 15px;
}

.title {
    text-align: center;
    padding-top: 1vh;
    position: relative;
    width: 100vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
}

.TypeResult {
    position: relative;
    width: 100vw;
    height: 7.5vh;
    text-align: center;

}

.section {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.section1 {
    position: absolute;
    width: 100vw;
    height: 50vh;
}

.Hexa1 {
    position: relative;
    height: 25vh;
    top: 8vh;
    float: left;
    left: 10px;
}

.Hexagon1 {
    width: 100px;
    height: 57.735px;
    background: #52B28C;
    position: relative;
}

.Hexagon1::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #52B28C;
}

.Hexagon1::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #52B28C;
}

.Hexa11 {
    position: relative;
    height: 25vh;
    top: 8.5vh;
    float: left;
    right: 75px;
}

.Hexagon1in {
    position: relative;
    width: 71px;
    height: 50.735px;
    background: white;
    position: relative;
}

.Hexagon1in::before {
    content: "";
    position: absolute;
    top: -14.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 14.8675px solid white;
}

.Hexagon1in::after {
    content: "";
    position: absolute;
    bottom: -14.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-top: 14.8675px solid white;
}


.Hexa111 {
    position: relative;
    height: 25vh;
    top: 10vh;
    float: left;
    right: 132px;
}

.Hexagon1inin {
    width: 45px;
    height: 28.735px;
    background: #52B28C;
    position: relative;
    opacity: 40%;
}

.Hexagon1inin::before {
    content: "";
    position: absolute;
    top: -14.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 14.8675px solid #52B28C;
}

.Hexagon1inin::after {
    content: "";
    position: absolute;
    bottom: -14.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 14.8675px solid #52B28C;
}

.Poi1 {
    position: absolute;
    width: 45vw;
    height: 25vh;
    left: 50vw;
    margin-right: 5vw;
}

progress {
    width: 100%;
    height: 50px;
}

.Poi2 {
    position: absolute;
    width: 45vw;
    height: 25vh;
    top: 25vh;
    margin-left: 5vw;
}

.Hexa2 {
    position: relative;
    width: 50vw;
    height: 166px;
    top: 47px;

}

.Hexa22 {
    position: absolute;
    left: 55px;
    z-index: 20;
    top: 6px;
}

.Hexagon2 {
    width: 100px;
    height: 57.735px;
    background: #52B28C;
    position: absolute;
    bottom: 105px;
    left: 40px;
}

#Hexagon2in {
    top: 2%;
}

#Hexagon2inin {
    top: 8%;
}

.Hexagon2::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #52B28C;
}

.Hexagon2::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #52B28C;
}

.result {
    position: absolute;
    width: 90vw;
    height: 18vh;
    background-color: white;
    top: 50vh;
    border: 1px solid #52B28C;
    left: 5vw;
    border-radius: 10px;
}

.Buttonsection {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 70vh;
}

.shareButton {
    width: 50vw;
    height: 8vh;
    float: left;
}

.restartButton {
    width: 50vw;
    height: 8vh;
}

.Butt1 {
    height: 8vh;
    background: #52B28C;
    border: #52B28C;
    border-radius: 15px;
    padding: 2vw;
    color: white;
    font-weight: bold;
    margin-left: 45%;
}

.Butt2 {
    height: 8vh;
    background: #52B28C;
    border: #52B28C;
    border-radius: 15px;
    padding: 2vw;
    color: white;
    font-weight: bold;
    margin-left: 5%;
}

.imgdiv {
    position: absolute;
    margin-top: 80vh;
    height: 10vh;
}

.type {
    position: relative;
}

#Sunbal {
    left: 65px;
    bottom: 50px;
}

#Churon {

    left: -5px;
    bottom: 30px;

}

#Munhae {
    top: 15px;
    left: -5px;
}

#Gwanchal {
    top: 30px;
    left: 65px;
}

#Tongchal {
    left: 130px;
    bottom: 20px;
}

#amgi {
    bottom: 110px;
    left: 130px;
}

.typetext {}

.innerHexa2 {
    position: absolute;
    width: 50vw;
    height: 25vh;
    top: 25vh;
    left: 50vw;

}

.Hexa222 {
    position: absolute;
    left: 68px;
    z-index: 50;
    top: 10%;
}




#real {
    left: 75px;
    bottom: 45px;
}

#tamgu {

    left: 5px;
    bottom: 30px;

}

#art {
    top: 15px;
    left: 5px;
}

#social {
    top: 30px;
    left: 75px;
}

#jinchi {
    left: 145px;
    bottom: 20px;
}

#learn {
    bottom: 110px;
    left: 145px;
}

.Result {
    font-weight: bold;
    color: #52B28C;
}

.HexaLi {
    position: relative;
    float: left;
    width: 50vw;
    height: 25vh;
}

.user-select-none {
    position: relative;
    z-index: -100;
    right: 70px;
    bottom: 60px;

}

.modebar-container {
    display: none;
}

.plot-container {
    width: 50vw;
    height: 25vh;
}

plot-container plotly {
    width: 50vw;
    height: 25vh;
}

#menuBarTop{
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 80vh;
}