.sec15 {
    background-image: url(../img/iu1.jpg);
    width: 90vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-bottom: 5vh;
}