* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.Clublistgo {
    position: relative;
    height: 5vh;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 5vw;
}

.Buttonwrap{
    width: 25vw;
    height: 17vh;
    float: left;
}

.Buttonimg{
    width: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 10vh;
    float: left;
    text-align: center;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.Buttondiv{
    width: 25vw;
    height: 3vh;
    float: left;
    text-align: center;
}

#Buttonimg7{
    background-image: url(./img/club00.png);
}

#Buttonimg0{
    background-image: url(./img/club01.png);
}

#Buttonimg1{
    background-image: url(./img/club02.png);
}

#Buttonimg2{
    background-image: url(./img/club03.png);
}

#Buttonimg3{
    background-image: url(./img/club04.png);
}

#Buttonimg4{
    background-image: url(./img/club05.png);
}

#Buttonimg5{
    background-image: url(./img/club06.png);
    background-size: contain;
}

#Buttonimg6{
    background-image: url(./img/club07.png);
}

.render {
    position: relative;
    height: 34vh;
}

.Buttonset {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1em;
    color: black;
}

.Check {
    background: none;
    border: none;
    padding: 3vw;
}

.Checkdiv {
    position: relative;
    height: 40vh;
}

.Check1 {
    background: none;
    border: none;
    height: 20vh;
    float: left;
}

.Check2 {
    background: none;
    border: none;
    height: 20vh;
    float: left;
}

#Checkid1 {
    text-align: right;
    width: 50vw;
    font-weight: 700;
    color: black;
    font-size: 1.3em;
}

#Checkid2 {
    text-align: left;
    width: 40vw;
    padding-left: 5vw;
}

#Checkid3 {
    text-align: right;
    width: 50vw;
    font-weight: 700;
    color: black;
    font-size: 1.3em;
}

#Checkid4 {
    text-align: left;
    width: 40vw;
    padding-left: 5vw;
}

.Checkinner {
    height: 20vh;
    width: 90vw;
    margin-left: 5vw;
    border-top: 1px solid rgba(82, 178, 140, 0.75);
}

.Checkinner2 {
    text-align: center;
    height: 20vh;
    width: 90vw;
    margin-left: 5vw;
    border-top: 1px solid rgba(82, 178, 140, 0.75);

}

.nextBtnImg{
    width: 9vw;
    height: 5vh;
    background-image: url(./img/nextButton.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}