* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.Clublistgo {
    position: relative;

    height: 8vh;
    padding-top: 2vh;

}

.render {
    position: relative;
    height: 30vh;
}

.Buttonset {
    background: none;
    border: none;
}

.Buttondiv {
    float: left;
    text-align: center;
}


.Check {
    background: none;
    border: none;
    padding: 3vw;


}

.Checkdiv {
    position: relative;
    height: 40vh;
}

.Check1 {
    background: none;
    border: none;
    height: 20vh;
    width: 50%;
}

.Check2 {
    background: none;
    border: none;
    height: 20vh;
    width: 50%;
}

#Checkid1 {
    text-align: right;
}


#Checkid2 {
    text-align: left;
}

#Checkid3 {
    text-align: right;
}

#Checkid4 {
    text-align: left;
}

.Checkinner {
    height: 20vh;
    border-top: 1px solid rgba(82, 178, 140, 0.75);
    border-bottom: 1px solid rgba(82, 178, 140, 0.75);
}

.Checkinner2 {
    text-align: center;
    height: 20vh;

}