* {
    padding: 0;
}

.club {
    align-content: center;
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.Clubscreen {
    height: 15vh;
}

.Clubcount {
    height: 5vh;
    margin-top: 2vh;
    margin-left: 1vw;
}

.Clubname {
    width: 100vw;
}

.ClubN {
    height: 25vh;
    width: 40vw;
    float: left;
    text-align: center;
    border: 1px solid gray;
    margin-left: 6.3vw;
    margin-top: 2vh;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 12%);

}

.Clubimg {
    height: 13vh;

}

.Clubna {
    height: 4vh;
    font-weight: bold;
}

.Clubca {
    height: 4vh;
    color: rgb(0 0 0 / 52%);
    font-weight: bold;
}

.Clubw {
    height: 4vh;
    color: rgb(0 0 0 / 52%);
    font-weight: bold;
}

.area {
    position: relative;
    top: 2vw;
}

.Inimg {
    position: relative;
    height: 10vh;
    top: 3vh;
}

select {
    float: left;
    width: 20vw;
    text-align: center;
    margin-left: 6.3vw;
    height: 5.2vh;

    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 12%);
}

.input {
    width: 60vw;
    margin-left: 5vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 12%);
    float: left;
}

.search {
    width: 10vw;
    background: none;
    border: none;
    border: 10px;
    position: absolute;
    height: 9.3vw;
    right: 8vw;
    background-color: rgba(82, 178, 140, 0.75);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(../menubar/img/search.png);
    background-size: cover;
    background-repeat: none;
}

.searchB {
    background: none;
    border: none;

}

.Inputt {
    position: relative;

}