#menuBar {
    position: fixed;
    width: 100vw;
    height: 10vh;
    left: 0px;
    bottom: 0%;
    background: rgba(82, 178, 140, 0.75);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

#menuBarIcon1 {
    position: absolute;
    height: 4vh;
    width: 8vw;
    left: 5vw;
    top: 3vh;
}

#menuBarIcon2 {
    position: absolute;
    height: 4vh;
    width: 8vw;
    left: 25.5vw;
    top: 3vh;
}

#menuBarIcon3 {
    position: absolute;
    height: 4vh;
    width: 8vw;
    left: 46vw;
    top: 3vh;
}

#menuBarIcon4 {
    position: absolute;
    height: 4vh;
    width: 8vw;
    left: 66.5vw;
    top: 3vh;
}

#menuBarIcon5 {
    position: absolute;
    height: 4vh;
    width: 8vw;
    left: 87vw;
    top: 3vh;
}