.sec13 {
    position: relative;
    background: white;
    width: 90vw;
    height: 45vh;
    left: 5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-bottom: 5vh;
}

.sec13 {
    animation: fadeIn 2s ease forwards;
}

.dat {
    animation: fadeIn 2s ease forwards;
}

.datGroup{
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 30vh;
    z-index: 99;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
}