.sec13 {
    position: relative;
    background: green;
    width: 90vw;
    height: 45vh;
    left: 5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-bottom: 5vh;
}

.sec13 {
    animation: fadeIn 3s ease forwards;
}

.dat {
    animation: fadeIn 3s ease forwards;
}

.datGroup{
    position: absolute;
    width: 90vw;
    padding-top: 20vh;
    left: 5vw;
    z-index: 99;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}