.sec12 {
    background-image: url(../../img/blossom.jpg);
    width: 90vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-bottom: 5vh;
}

.text1{
    background-color: gray;
}

.text2{
    background-color: green;
}

.text3{
    background-color: yellow;
}

.sec12 {
    animation: fadeIn 3s ease forwards;
}

.dat {
    animation: fadeIn 3s ease forwards;
    animation-delay: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}